<%- include('layout/header') -%>

    <!--Start Page Content-->
    <section id="page-content">

        <!--Start Blog Single Wrap-->
        <div class="blog-single-wrap">
            <!--Start Container-->
            <div class="container">
                <!--Start Row-->
                <div class="row">

                    <!--Start Blog Post-->
                    <div class="col-sm-8">
                        <div class="blog-post-single">
                            <div class="post-media">
                                <a href="#"><img src="assets/images/News/news1.jpg" class="img-responsive" alt="Image"></a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <h3 class="m-0"><a href="#">AAP moves HC to de-register political party with similar-sounding name</a></h3>
                                    <p><a href="#"><i class="icofont icofont-user"></i> Admin</a><small>/</small><a href="#"><i class="icofont icofont-clock-time"></i> 22 Feb, 2018</a><small>/</small><a href="#"><i class="icofont icofont-comment"></i> 3 Comments</a></p>
                                </div>
                                <p>The AAP on Thursday approached the Delhi High Court challenging the EC’s order rejecting the party’s objection against registration of the “Aapki Apni Party [Peoples]” as a political party. The petition is likely to come up for hearing on Friday before Justice Siddharth Mridul.PTI</p>
                                <p>
                                    The AAP on Thursday approached the Delhi High Court challenging the EC’s order rejecting the party’s objection against registration of the “Aapki Apni Party [Peoples]” as a political party. The petition is likely to come up for hearing on Friday before Justice Siddharth Mridul.PTI
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--End Blog Post-->
                </div>
                <!--End Row-->
            </div>
            <!--End Container-->
        </div>
        <!--End Blog Single Wrap-->
    </section>
    <!--End Page Content-->
<%- include('layout/footer') -%>