<%- include('layout/header') -%>
        <!--Start Page Content-->
        <section id="page-content">
            <!--Start Page Heading-->
            <div class="page-heading bg-cover">
                <div class="overlay"></div>
                <div class="page-heading-content text-center">
                    <h2 class="font-700 text-uppercase color-white">Blog</h2>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Blog</li>
                    </ol>
                </div>
            </div>
            <!--End Page Heading-->

            <!--Start Blog Wrap-->
            <div class="blog-wrap">
                <!--Start Container-->
                <div class="container">
                    <!--Start Row-->
                    <div class="row">
                        <!--Start Blog Single-->
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post-single">
                                <div class="post-media">
                                    <a href="blog-single.html"><img src="assets/images/blog-1.jpg" class="img-responsive" alt="Image"></a>
                                </div>
                                <div class="post-content">
                                    <div class="post-meta">
                                        <h3 class="m-0"><a href="blog-single.html">Sed egestas, ante et vulputate volutpat eros pede</a></h3>
                                        <p><a href="#"><i class="icofont icofont-user"></i> Admin</a><small>/</small><a href="#"><i class="icofont icofont-clock-time"></i> 22 Feb, 2018</a><small>/</small><a href="#"><i class="icofont icofont-comment"></i> 3 Comments</a></p>
                                    </div>
                                    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis</p>
                                </div>
                            </div>
                        </div>
                        <!--End Blog Single-->

                        <!--Start Blog Single-->
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post-single">
                                <div class="post-media">
                                    <a href="blog-single.html"><img src="assets/images/blog-2.jpg" class="img-responsive" alt="Image"></a>
                                </div>
                                <div class="post-content">
                                    <div class="post-meta">
                                        <h3 class="m-0"><a href="blog-single.html">Morbi interdum mollis sapien. Sed ac risus phasellus lacinia</a></h3>
                                        <p><a href="#"><i class="icofont icofont-user"></i> Admin</a><small>/</small><a href="#"><i class="icofont icofont-clock-time"></i> 22 Feb, 2018</a><small>/</small><a href="#"><i class="icofont icofont-comment"></i> 3 Comments</a></p>
                                    </div>
                                    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis</p>
                                </div>
                            </div>
                        </div>
                        <!--End Blog Single-->

                        <!--Start Blog Single-->
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post-single">
                                <div class="post-media">
                                    <a href="blog-single.html"><img src="assets/images/blog-3.jpg" class="img-responsive" alt="Image"></a>
                                </div>
                                <div class="post-content">
                                    <div class="post-meta">
                                        <h3 class="m-0"><a href="blog-single.html">Lorem ipsum dolor sit amet, consectetuer adipiscing</a></h3>
                                        <p><a href="#"><i class="icofont icofont-user"></i> Admin</a><small>/</small><a href="#"><i class="icofont icofont-clock-time"></i> 22 Feb, 2018</a><small>/</small><a href="#"><i class="icofont icofont-comment"></i> 3 Comments</a></p>
                                    </div>
                                    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis</p>
                                </div>
                            </div>
                        </div>
                        <!--End Blog Single-->

                        <!--Start Blog Single-->
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post-single">
                                <div class="post-media">
                                    <a href="blog-single.html"><img src="assets/images/blog-4.jpg" class="img-responsive" alt="Image"></a>
                                </div>
                                <div class="post-content">
                                    <div class="post-meta">
                                        <h3 class="m-0"><a href="blog-single.html">Lorem ipsum dolor sit amet, consectetuer adipiscing</a></h3>
                                        <p><a href="#"><i class="icofont icofont-user"></i> Admin</a><small>/</small><a href="#"><i class="icofont icofont-clock-time"></i> 22 Feb, 2018</a><small>/</small><a href="#"><i class="icofont icofont-comment"></i> 3 Comments</a></p>
                                    </div>
                                    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis</p>
                                </div>
                            </div>
                        </div>
                        <!--End Blog Single-->

                        <!--Start Blog Single-->
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post-single">
                                <div class="post-media">
                                    <a href="blog-single.html"><img src="assets/images/blog-5.jpg" class="img-responsive" alt="Image"></a>
                                </div>
                                <div class="post-content">
                                    <div class="post-meta">
                                        <h3 class="m-0"><a href="blog-single.html">Sed egestas, ante et vulputate volutpat eros pede</a></h3>
                                        <p><a href="#"><i class="icofont icofont-user"></i> Admin</a><small>/</small><a href="#"><i class="icofont icofont-clock-time"></i> 22 Feb, 2018</a><small>/</small><a href="#"><i class="icofont icofont-comment"></i> 3 Comments</a></p>
                                    </div>
                                    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis</p>
                                </div>
                            </div>
                        </div>
                        <!--End Blog Single-->

                        <!--Start Blog Single-->
                        <div class="col-md-4 col-sm-6">
                            <div class="blog-post-single">
                                <div class="post-media">
                                    <a href="blog-single.html"><img src="assets/images/blog-6.jpg" class="img-responsive" alt="Image"></a>
                                </div>
                                <div class="post-content">
                                    <div class="post-meta">
                                        <h3 class="m-0"><a href="blog-single.html">Morbi interdum mollis sapien. Sed ac risus phasellus lacinia</a></h3>
                                        <p><a href="#"><i class="icofont icofont-user"></i> Admin</a><small>/</small><a href="#"><i class="icofont icofont-clock-time"></i> 22 Feb, 2018</a><small>/</small><a href="#"><i class="icofont icofont-comment"></i> 3 Comments</a></p>
                                    </div>
                                    <p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis</p>
                                </div>
                            </div>
                        </div>
                        <!--End Blog Single-->
                    </div>
                    <!--End Row-->

                    <!--Start Pagination Row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="blog-pagination text-center">
                                <ul class="pagination">
                                    <li><a href="#">&laquo;</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--End Pagination Row-->
                </div>
                <!--End Container-->
            </div>
            <!--End Blog Wrap-->
        </section>
        <!--End Page Content-->
<%- include('layout/footer') -%>
