		        <!--Start Footer-->
            <footer id="footer">
                <div class="container">
                    <p class="text-center">&copy; Copy 2018. All Rights Reserved</p>
                </div>
            </footer>
            <!--End Footer-->
        </div>
        <!--End Body Wrap-->

        <!--jQuery JS-->
        <script src="assets/js/jquery.min.js"></script>
        <!--Google Map-->
<!--         <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqFuLx8S7A8eianoUhkYMeXpGPvsXp1NM&amp;callback" async defer></script>
        <script src="assets/js/map.js"></script> -->
        <!--Bootstrap JS-->
        <script src="assets/js/bootstrap.min.js"></script>
        <!--Magnic PopUp JS-->
        <script src="assets/js/magnific-popup.min.js"></script>
        <!--Isotope JS-->
        <script src="assets/js/isotope.min.js"></script>
        <!--Image Loded JS-->
        <script src="assets/js/images-loded.min.js"></script>
        <!--Owl Carousel JS-->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!--Bootsnav JS-->
        <script src="assets/js/bootsnav.js"></script>
        <!--Main JS-->
        <script src="assets/js/custom.js"></script>
        <!-- Content Ends -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="js/main.js"></script>
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  </body>
</html>